<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Pit Scouting</title>
		  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
	body {background-color: #282b30}
	h1 {color: #ffffff}
	p {color: #000000}
	table {color: #ffffff}
	nav {color:#ffffff}
	h1 {background: #23272a}
	h1 {color: #7289da}
	h1{font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"}	
	nav {color: #7289da}
	p{font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"}
	nav{font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"}
	nav{font-size: 200%}
	h1{font-size: 400%}	
</style>
</head>
<body>

	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Gatorbots Scouting</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="index.html">Home</a></li> 
        <li><a href="/match">Match Scouting</a></li>
        <li><a href="/pit">Pit Scouting</a></li>
      </ul>

    </div>
  </div>
</nav>
	
<div class="eform">
	<form action="#" th:action="@{/pit}" th:object="${pit}" method="post">
		<input type="hidden" name="subject" value="Form Submission" />
		<input type="hidden" name="redirect" value="one.html" />
		
		<p>Team Number <input type="number" th:field="*{teamNumber}" name="TeamNumber" min="1"> </p>
		<p>Team Name <input type="text" th:field="*{teamName}" name="TeamName" min="1"> </p>
		
		<p>Auton Type</p>
		<p>Baseline<input type="checkbox"  th:field="*{autoBase}"></p>
		<p>Switch<input type="checkbox" th:field="*{autoSwitch}"></p>
		<p>Scale<input type="checkbox" th:field="*{autoScale}"></p>
		
		<p>Robot Scoring Type</p>
		<p>Can Scale?<input type="checkbox" th:field="*{typeScale}" id="Scale" onchange="toggleScore(this.id)"></p>
		<p>Can Switch?<input type="checkbox" th:field="*{typeSwitch}" id="Switch" onchange="toggleScore(this.id)"></p>
		<p>Can Vault?<input type="checkbox" th:field="*{typeVault}" id="Vault" onchange="toggleScore(this.id)"></p>
		
		<p>Scale Score Claim <input type="number" th:field="*{scaleClaim}"  id="ScaleClaim" min="0" disabled> </p>
		<p>Switch Score Claim <input type="number" th:field="*{switchClaim}"  id="SwitchClaim" min="0" disabled> </p>
		<p>Vault Score Claim <input type="number" th:field="*{vaultClaim}"  id="VaultClaim" min="0" disabled> </p>
		
		<p><textarea th:field="*{pitNotes}" name="ScoutNotes" cols="40" rows="10">
		Addition Scouting Notes Here</textarea></p>
		<input type="submit">
	</form>
</div>
</body>
<script type="text/javascript">
function toggleScore(id) {
	 var checkBox = document.getElementById(id);
	 var field = document.getElementById(id + "Claim");   
	 
	 if (checkBox.checked == true){
	    field.disabled = false;
    } else {
    	field.disabled = true;
    	field.value = "0";
    }
}
</script>
</html>
