<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Pit Scouting</title>
<style>
body {background-color: #282b30}
	h1 {color: #ffffff}
	p {color: #ffffff}
	table {color: #ffffff}
	nav {color:#ffffff}
	h1 {background: #23272a}
	h1 {color: #7289da}
	h1{font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"}	
	nav {color: #7289da}
	p{font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"}
	nav{font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"}
	nav{font-size: 200%}
	h1{font-size: 400%}
	
	
</style>
</head>
<body>
<h1><img src="../Desktop/051818_SPACE.png" width="102" height="88" alt=""/>Pit Scouting</h1>
	

	
<div class="eform">
  <form action="/gdform.php" method="post">
<input type="hidden" name="subject" value="Form Submission" />
<input type="hidden" name="redirect" value="one.html" />
<p>Team Number <input th:field="*{teamNumber}" type="number" name="TeamNumber"> </p>
<p>Team Name <input th:field="*{teamName}" type="text" name="TeamName"> </p>
<p> Auton Type</p>

	  
<p>Auto Scale?<input type="checkbox"  th:field="*{autoBase}" name="AutoScale?"  value="autoBaseline" id="Baseline"></p>
<p>Auto Switch?<input type="checkbox" th:field="*{autoSwitch}" name="AutoSwitch?" value="autoSwitch" id="Switch"></p>
<p>Auto Vault?<input type="checkbox" th:field="*{autoScale}" name="AutoVault?" value="autoScale" id="Scale"></p>

<p>Robot Scoring Type</p>
	 
<p>Can Scale?<input type="checkbox"  th:field="*{robotType}" name="CanScale?"  value="CanScale" id="CanScale"></p>
<p>Can Switch?<input type="checkbox" th:field="*{robotType}" name="CanSwitch?" value="CanSwitch" id="CanSwitch"></p>
<p>Can Vault?<input type="checkbox" th:field="*{robotType}" name="CanVault?" value="CanVault" id="CanVault"></p>

<p>Scale Score Claim <input th:field="*{scaleClaim}" type="number" name="Scale Claim"> </p>
<p>Switch Score Claim <input th:field="*{switchClaim}" type="number" name="Switch Claim"> </p>
<p>Vault Score Claim <input th:field="*{vaultClaim}" type="number" name="Vault Claim"> </p>

<p><textarea th:field="*{pitNotes}" name="ScoutNotes" cols="40" rows="10">
Addition Scouting Notes Here</textarea></p>
<input type="submit">
</form>

</div>
	
</body>

</html>
