<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Scout Landing</title>
<style>
body {background-color: #282b30}
	h1 {color: #ffffff}
	p {color: #ffffff}
	table {color: #ffffff}
	nav {color:#ffffff}
	h1 {background: #23272a}
	h1 {color: #7289da}
	h1{font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"}	
	nav {color: #7289da}
	p{font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"}
	nav{font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"}
	nav{font-size: 200%}
	h1{font-size: 400%}
	
	
</style>
</head>
<h1>1250 Scouting</h1>

<body>
</body>
</html>
